{% extends "base.html" %}

{% block title %}Анаконда - Подтвердите Ваш аккаунт{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Приветствуем Вас, {{ current_user.username }}!
    </h1>
    <h3>Вы еще не подтвердили Ваш аккаунт</h3>
    <p>
        Для возможности входа на данный сайт, Вам необходимо подтвердить Ваш аккаунт.
        Проверьте свою электронную почту, Вы должны получить электронное письмо со ссылкой подтверждающей регистрацию.
    </p>
    <p>
        Необходимо ещё одно электронное письмо для подтверждения?
        <a href="{{ url_for('auth.resend_confirmation') }}">Нажмите здесь</a>
    </p>
</div>
{% endblock %}
