{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Анаконда - {{ title }} {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>{{ title }} {{ user.username }}</h1>
</div>
<table class="table table-hover followers">
	<thread><tr><th>Пользователь</th></tr></thread>
	{% for follow in follows %}
	<tr>
		<td>
			<a href="{{ url_for('.user', username = follow.user.username) }}">
				{{ follow.user.username }}
				<td align="left">
				{% if follow.user.avatar != None %}
					{% if follow.user.avatar not in files %} 
						<img class="img-rounded profile-thumbnail" 
							src="{{ url_for('dropimage.download_avatars', filename='default/' + 'Mens_avatar_3.gif') }}" 
							width="20" height="auto">
					{% else %}    
						<img class="img-rounded profile-thumbnail" 
							src="{{ url_for('dropimage.download_avatars', filename='avatars/' + follow.user.avatar) }}"
							width="20" height="auto">
					{% endif %} 
				</td>  
                {% endif %}
			</a>			
		</td>
		<td>{{ moment(follow.timestamp).format('L') }}</td>
	</tr>
	{% endfor %}
</table>
<div class="=pagination">
	{{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
</div>
{% endblock %}
